<% #locals: f and button %>
<% if f.object.errors.any? %>
  <div id="errorExplanation">
    <p><%= pluralize(f.object.errors.count, "erreur") %> in this form:</p>
    <dl>
    <% f.object.errors.full_messages.each do |msg| %>
      <dt><%= msg %></dt>
    <% end %>
    </dl>
  </div>
  <% end %>
<div class="blue_box admin_form">
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :default_field_id, "Default field" %>
  <script type="text/javascript">
    $(function(){
       $('#map_default_field_id').change(function() {
         $('#field_picture').attr('src','<%= ASSETS_URL  %>'+$('#map_default_field_id :selected').text());
       });
    })
  </script>
  <%= f.select(:default_field_id, options_for_select(fields.collect {|field| [field.filename,field.id]}, map.default_field_id) ) %>

  <br /><img id="field_picture" src="<%= "#{ASSETS_URL}#{map.default_field.blank? ? fields.first.filename : map.default_field_filename}"  %>">
</p>
<p>
  <%= f.submit :value => button %>
</p>
</div>
