<% content_for :section, :maps %>
<h1>Maps of the game</h1>


<div class="admin_menu"><%= link_to "New map", new_admin_map_path, :class => "admin_button" %></div>
<% unless @maps.empty? %>
<table>
  <tr>
    <th style="width:1px;white-space:nowrap;">Default field</th>
    <th>Name</th>
    <th style="width:1px;white-space:nowrap;">Actions</th>
  </tr>
<% @maps.each do |map|  %>
  <tr  class="<%= cycle("darker", "brighter") -%>">
    <td><img src="<%= "#{ASSETS_URL}#{map.default_field_filename}" %>" alt="<%= map.default_field_filename %>" /></td>
    <td><%= map.name %></td>
    <td style="width:1px;white-space:nowrap;"><%= link_to "Edit", edit_admin_map_path(map.id) %> - <%= link_to "Delete", admin_map_path(map.id), :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
<%  end %>
</table>
<% else %>
  Aucun plan.
<% end %>
