<% #locals: f and button %>
<% if f.object.errors.any? %>
  <div id="errorExplanation">
    <p><%= pluralize(f.object.errors.count, "erreur") %> in this form:</p>
    <dl>
    <% f.object.errors.full_messages.each do |msg| %>
      <dt><%= msg %></dt>
    <% end %>
    </dl>
  </div>
  <% end %>
  <div class="blue_box admin_form">
<p>
  <%= f.label :user_id, "Owner" %>
  <%= f.select :user_id, options_for_select([["Select...",nil]]+users.collect {|user| [user.email,user.id]}, player.user_id) %>
</p>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :map_id, "Map" %>
  <%= f.select :map_id, options_for_select([["Choisir...",nil]]+maps.collect {|map| [map.name,map.id]}, player.map_id) %>
</p>
<p>
  <%= f.label :posx, "Position X" %>
  <%= f.number_field :posx, :step => 1 %>
</p>
<p>
  <%= f.label :posy, "Position Y" %>

  <%= f.number_field :posy, :step => 1 %>
</p>
<p>
  <%= f.label :description, "Physical Description (length: 250 max)" %><br />
  <%= f.text_area :description, :size => "30x10" %>
</p>
<p>
  <%= f.submit :value => button %>
</p>
</div>
