<% content_for :section,  :players %>
<h1>All players</h1>

<div class="admin_menu"><%= link_to "New Player", new_admin_player_path, :class => "admin_button" %></div>
<% unless @players.empty? %>
<table>
  <tr>
    <th>Owner</th>
    <th>Name</th>
    <th>Position</th>
    <th  style="width:1px;white-space:nowrap;">Actions</th>
  </tr>
<% @players.each do |player|  %>
  <tr class="<%= cycle("darker", "brighter") -%>">
    <td><%= player.user_email unless player.user.blank? %></td>
    <td><%= player.name %></td>
    <td><%= "[#{player.posx};#{player.posy}] #{player.map_name}"  unless player.map_id.blank? %></td>
    <td style="width:1px;white-space:nowrap;"><%= link_to "Edit", edit_admin_player_path(player.id) %> - <%= link_to "Delete", admin_player_path(player.id), :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
<%  end %>
</table>
<% else %>
  No player.
<% end %>
