<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Administration - RDLA</title>
  <link  href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" media="screen" href="/admin/terraformings/field_css.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" id="minimap_js" src="/admin/terraformings/minimap_js.js" ></script>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="terraforming_page">
    <div id="map" style="width:<%= 72*(@width+1)  %>px; height:<%= 72*(@height+1)  %>px ">
    <%= render "map", :posx => @posx, :posy => @posy, :width => @width, :height => @height, :map => @map, :fields => @fields  %>
    </div>
    <div  class="terraforming_option">Map: <%=  select_tag :map_id, options_for_select(@maps.collect {|map| [map.name,map.id]}, @map.id) %> X: <%= number_field_tag :posx, @posx.to_s, :size => 3 %> Y: <%= number_field_tag :posy, @posy, :size => 3 %> |  Width: <%= number_field_tag :width, @width, :size => 3 %> Height:<%= number_field_tag :height, @height, :size => 3 %> <input id="majinfo" type="button" value="Update" /> | Cursor Position : <span id="show_pos">[0;0]</span> | "M" to show the minimap</div>
  </div>
  <div class="terraforming_toolbar">
    <p>Selected field: <br /><img id="selectedPicture" src='<%= "#{ASSETS_URL}#{@map.default_field_filename}" %>' /><input type="hidden" id="selectedPictureId" value="<%= @map.default_field_id %>" /><br />
      <input id="build_all" type="button" value="Paint all" />
    </p>
    <hr />
    <p>Library <br /><%= select_tag :category_id, options_for_select(@categories.collect {|cat| [cat.name,cat.id]}, 1) %></p>

    <% @categories.each do |category| %>


        <div id="cat<%= category.id %>" class="terraform_biblio_item">

          <% category.fields.each do |field|  %>
            <img src="<%= "#{ASSETS_URL}#{field.filename}" %>" class="field" alt="<%= field.id %>" style="cursor:pointer" />
          <%  end %>
        </div>
      <% end %>
     <hr />
     In order to see the new terraforming, we have to connect to the game and type: /RELOAD_MAPS.
  </div>
  <div id="minimap">
    <canvas id="worldmap" width="500" height="500">
      
    </canvas>
  </div>
  <p style="position:fixed;bottom:3em;right:5px;background: #900;padding:0.5em;border-radius:15px;"><%= link_to "Back to Administration", admin_root_path,:style => "color:white;text-decoration:none;font-weight:bolder;" %></p>
</body>
</html>
