<% #locals: f and button %>
<% if f.object.errors.any? %>
  <div id="errorExplanation">
    <p><%= pluralize(f.object.errors.count, "error") %> in this form:</p>
    <dl>
    <% f.object.errors.full_messages.each do |msg| %>
      <dt><%= msg %></dt>
    <% end %>
    </dl>
  </div>
  <% end %>
<div class="blue_box admin_form">
<p>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :password%>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</p>
<% if user.is_a?(User::Admin) %>
<h3>Select your color</h3>
<p> Select red, green and blue value (from 0 to 255)</p>
<p id="sample_color" > Here is what your color will look like </p>
<p>
  <%= f.label :red_color, "Red" %>
  <%= f.number_field :red_color, :min => 0, :max => 255,:step => 5, :onkeypress => "test_color()", :onmousedown => "test_color()", :onclick => "test_color()", :onmouseover => "test_color()"%>
</p>
<p>
  <%= f.label :green_color, "Green" %>
  <%= f.number_field :green_color, :min => 0, :max => 255,:step => 5, :onkeypress => "test_color()", :onmousedown => "test_color()", :onclick => "test_color()", :onmouseover => "test_color()"%>
</p>
<p>
  <%= f.label :blue_color, "Blue" %>
  <%= f.number_field :blue_color, :min => 0, :max => 255,:step => 5, :onkeypress => "test_color()", :onmousedown => "test_color()", :onclick => "test_color()", :onmouseover => "test_color()" %>
</p>
<% end %>
<p>
  <%= f.submit :value => button %>
</p>
</div>
<script>test_color();</script>
