<% content_for :section,  :users %>
<h1>All Accounts</h1>

<div class="admin_menu"><%= link_to "New Account", new_admin_user_path, :class => "admin_button" %></div>
<% unless @users.empty? %>
<table>
  <tr>
    <th>Email</th>
    <th  style="width:1px;white-space:nowrap;">Actions</th>
  </tr>
<% @users.each do |user|  %>
  <tr class="<%= cycle("darker", "brighter") -%>">
    <td><%= user.email %></td>
    <td style="width:1px;white-space:nowrap;"><%= link_to "Edit", edit_admin_user_path(user.id) %> - <%= link_to "Delete", admin_user_path(user.id), :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
<%  end %>
</table>
<% else %>
 No account
<% end %>
