<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Administration - RDLA</title>
  <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
</head> 
<body> 
  <dl id="menu_admin">
    
    <dd><%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete, :class => :logout %></dd> 
    <dd><%= link_to "Accueil du site", "http://live.rdla.fr"%></dd> 
    <dd <%= "class='current'" if (yield :section) == 'home' %>><%= link_to "Accueil Administration", admin_root_path%></dd> 
    <dt>Production</dt>
    <dd>Backlogs</dd>
    <dt>Utilisateurs</dt>
    <dd <%= "class='current'" if (yield :section) == 'users' %>><%= link_to "Comptes", admin_users_path%></dd> 
    <dd <%= "class='current'" if (yield :section) == 'players' %>><%= link_to "Personnages", admin_players_path%></dd> 
    <dt>Terre à fromage</dt>
    <dd <%= "class='current'" if (yield :section) == 'maps' %>><%= link_to "Plans", admin_maps_path%></dd>  
    <dd <%= "class='current'" if (yield :section) == 'fields' %>><%= link_to "Terrains", admin_fields_path%></dd> 
   <dd <%= "class='current'" if (yield :section) == 'terraformings' %>><%= link_to "Terraformings", admin_terraformings_path%></dd> 
  </dl> 
    <div id="content_admin">
        <%= yield %>
    </div>
 
</body> 
</html> 
